*.class
*.log
*.jar
*.war
*.ear
.idea/
*.iml
*.iws
out/
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/
.project
.classpath
.settings/
bin/
.vscode/
target/
.gradle/
.DS_Store
Thumbs.db
*.tmp
*.swp
*~
